{% extends "layout.html" %}
{% block content %}
<main class="container">
    <div class="d-flex justify-content-center mb-4">
        <form class="row g-3">
            <div class="col-auto">
              <label for="staticEmail2" class="visually-hidden">Producto: </label>
              <input type="text" readonly class="form-control-plaintext" id="BusquedaProducto" value="email@example.com">
            </div>
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Buscar</button>
            </div>
          </form>
    </div>
</main>
{% endblock  %}